.wrapper {
  display: flex;
  align-items: center;
  width: 100%;
  color: white;
  flex-direction: column;
  .main {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 16px;
    padding-left: 12px;
    .cardBlock {
      display: flex;
      max-height: 100%;
      height: 100%;
      gap: 50px;
      flex-wrap: wrap;
    }
  }
}
